.sidebar-heading a {
    color: #fff;
}

.sidebar-heading a:hover {
    color: #2065a1;
}

#sidebar {
    background-color: black;
}

body {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #313131;
}

.fa-calendar {
    color: #2065a1;
    font-size: smaller;
}

.categories { 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display:inline-block;
    color: #2065a1;
    font-size: smaller;
}

.categories:before {
    content: "\f097";
}